.dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.stat-item-total {
    text-align: center;
    background: #36A2EB;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    color: white;
}

.stat-item-flagged {
    text-align: center;
    background: #FF6384;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.stat-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.stat-value {
    font-size: 24px;
    font-weight: bold;
}

.emails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email {
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    width: 80%;
    max-width: 1200px; /* Ensure a max width for better readability */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word; /* Ensures long words wrap */
    word-wrap: break-word; /* Additional wrapping for older browsers */
    /*white-space: pre-wrap; /* Preserves whitespace and wraps long text */
}

.email h3 {
    margin: 0 0 10px 0;
}

.email p {
    margin: 0;
    word-break: break-word; /* Ensures long words break */
}

.email.flagged {
    border-left: 5px solid red;
}

.infoMsg {
    border-bottom: 10px;
}

.text-muted{
    opacity: 0.5;
}